<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Hello {{email}}!</h1>
  <p>Welcome to our application. We are glad to have you on board.</p>
  <h5>Твой пароль: {{password}}</h5>
</body>
</html>